@font-face {
	font-family: 'Hand';
	src: url('./fonts/hand.ttf') format('truetype');
  font-display: block;
}

@font-face {
	font-family: 'Carlito';
	src: url('./fonts/carlito.ttf') format('truetype');
  font-display: block;
}

@font-face {
	font-family: 'Absolute';
	src: url('./fonts/absolute.ttf') format('truetype');
  font-display: block;
}

// Alap felbontás
$base-width: 1920;
$base-height: 1080;
$base-width-px: 1920px;
$base-height-px: 1080px;

$scale: 1.5;

@function pxw($px) {
  @return ($px * $scale / $base-width) * 100%;
}

@function pxh($px) {
  @return ($px * $scale / $base-height) * 100%;
}

$primary: #8eb28e;
$primary-dark: #4c724c;
$secondary: #ea8708;
$third: #32ad0c;
$fourth: #274223;
$fifth: #aaa;
$brown-light: #a36209;
$brown-dark: #a0410d;
$yellow-gold: #ffdd00;
$yellow-light: #ffff00;

//--

#preload-images {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  background-image:
    url('../img/inventory/click-selector.png'),
    url('../img/inventory/mouse-selector.png'),
    url('/img/cursors/cursor-default.png'),
    url('/img/cursors/cursor-use-on.png'),
    url('/img/cursors/cursor-use-off.png'),
    url('/img/cursors/cursor-get-on.png'),
    url('/img/cursors/cursor-get-off.png'),
    url('/img/cursors/cursor-look2-on.png'),
    url('/img/cursors/cursor-look2-off.png'),
    url('../img/inventory/text-border.png'),
    url('../img/inventory/green-dark-bg.png'),
    url('/img/check-mark.png'),
    url('/img/error-mark.png'),
    url('../img/inventory/close-button.png'),
    url('../img/inventory/use-selector.png'),
    url('../img/inventory/look-selector.png'),
    url('../img/inventory/inventory-read-bg.png'),
    url('../img/inventory/note-bg.png'),
    url('../img/inventory/arrow2-off.png'),
    url('../img/inventory/arrow2-on.png'),
    url('../img/inventory/book-bg.png'),
    url('../img/inventory/inventory-bg.png'),
    url('../img/inventory/inventory-logo.png'),
    url('../img/inventory/arrow-off.png'),
    url('../img/inventory/arrow-on.png'),
    url('../img/inventory/line.png');
}

.d-block {
  display: block;
}

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-start {
  justify-content: start;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: start;
}

.align-items-end {
  align-items: end;
}

//--

.text-white {
  color: white !important;
}

.text-ok {
  color: white !important;
}
.text-green {
  color: green !important;
}

.text-error {
  color: red !important;
}

.text-yellow-light {
  color: $yellow-light !important;
}

.text-yellow-gold {
  color: $yellow-gold !important;
}

.text-hover {
  color: $third !important;
}

.text-selected {
  color: $secondary !important;
}

.bg-test {
  background-color: $secondary !important;
}

.margin-left {
  border: 2px 2px 2px 2px solid gray;
}

.usn {
  user-select: none;
}

html, body {
    overflow: hidden;
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
    background: black !important;
    // CURSOR
    user-select: none;
}

a, button, input, textarea {
  cursor: url('/img/cursors/cursor-default.png') 5 5, auto !important;
}

a:hover, button:hover, input:hover, textarea:hover {
    cursor: url('/img/cursors/cursor-default.png') 5 5, auto !important;
}

.cursor-pointer {
  &:hover{
      cursor: pointer;
  }
}

#cursor-text-box {
  position: fixed;
  pointer-events: none;
  background: $brown-light;
  color: white;
  border: 5px solid $brown-dark;
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 14px;
  transform: translate(10px, 10px);
  z-index: 10;
}

.cursor-default {
  cursor: url('/img/cursors/cursor-default.png') 5 5, auto !important;
}

.cursor-use-on {
  cursor: url('/img/cursors/cursor-use-on.png') 5 5, auto;
}

.cursor-use-off {
  cursor: url('/img/cursors/cursor-use-off.png') 5 5, auto;
}

.cursor-get-on {
  cursor: url('/img/cursors/cursor-get-on.png') 5 5, auto;
}

.cursor-get-off {
  cursor: url('/img/cursors/cursor-get-off.png') 5 5, auto;
}

.cursor-look-on {
  cursor: url('/img/cursors/cursor-look2-on.png') 5 5, auto !important;
}

.cursor-look-off {
  cursor: url('/img/cursors/cursor-look2-off.png') 5 5, auto !important;
}

#game-canvas {
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    z-index: 10;
}

.delta-time-menu,
.delta-time-inventory,
.delta-time-game {
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 100;
}

#loading-container,
#menu-container,
#game-container,
.full-size {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

#loading-container {
  padding: 10px;
  overflow-y: auto;
  height: 100vh;
}

#console-container {
  position: relative !important;
}

#loading-console {
  width: 100%;
  max-height: 80vh;
  overflow-y: auto;
}

#console-reset {
  position: absolute;
  right: 3px;
  top: 3px;
  display: block;
  background-color: deepskyblue;
  font-size: 10px;
  padding: 2px 2px 2px 2px;
}

.bg-secondary {
  background-color: $secondary !important;
}

.w-100 {
  width: 100% !important;
}

.w-50 {
  width: 50% !important;
}

#text-box-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;

  pointer-events: auto;
}

  #text-box {
    position: relative;
    display: inline-block;
    padding: 7px;
    padding-left: 10px;
    border: 25px solid transparent;
    border-image-source: url('../img/inventory/text-border.png');
    border-image-slice: 25;
    border-image-repeat: stretch;
    max-width: 70%;
    margin-bottom: 17vh;
    color: $primary;
    background-image: url('../img/inventory/green-dark-bg.png');
    
    cursor: url('/img/cursors/cursor-default.png') 5 5, auto !important;

    z-index: 10;
  }

  .check-mark {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url('/img/check-mark.png');
    background-size: cover;
  }

  .error-mark {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url('/img/error-mark.png');
    background-size: cover;
  }

  #text-box-close-button {
    position: absolute;
    right: -21px;
    top: -21px;
    width: 20px;
    height: 20px;

    background-image: url('../img/inventory/close-button.png');
    background-color: transparent;
    border: 0;
    background-position: 0 0;

    &:hover {
      background-position: 0 -20px;
    }
  }

#use-selector {
  display: block;
  position: absolute;
  right: 160px;
  bottom: 20px;
  width: 120px;
  aspect-ratio: 1 / 1;
  background-image: url('../img/inventory/use-selector.png');
  background-size: cover;
  z-index: 10;
  // background-color: deeppink;
  &:hover {
    transform: scale(1.05);
  }
  &:active {
    transform: scale(1.1);
  }
}

#look-selector {
  display: block;
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 120px;
  aspect-ratio: 1 / 1;
  background-image: url('../img/inventory/look-selector.png');
  background-size: cover;
  // background-color: deepskyblue;
  z-index: 10;
  &:hover {
    transform: scale(1.05);
  }
  &:active {
    transform: scale(1.1);
  }
}

#mouseorkey-selector {
  display: block;
  position: absolute;
  right: 300px;
  bottom: 20px;
  width: 120px;
  aspect-ratio: 1 / 1;
  background-size: cover;
  z-index: 10;
  &:hover {
    transform: scale(1.05);
  }
  &:active {
    transform: scale(1.1);
  }
}

.click-selector-pic {
  background-image: url('../img/inventory/click-selector.png');
}

.mouse-selector-pic {
  background-image: url('../img/inventory/mouse-selector.png');
}

#note-container {
  position: fixed;
  width: 100vw;
  max-width: $base-width-px !important;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #004500ee;
  background-image: url('../img/inventory/inventory-read-bg.png');
  background-size: 200px 200px;
  background-repeat: repeat;
  background-blend-mode: overlay;
  z-index: 2;
}

#note-background {
  position: relative;
  height: 95%;
  aspect-ratio: 495 / 715;
  background-image: url('../img/inventory/note-bg.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.note-close-button {
  position: absolute;
  right: -30px;
  top: 2px;
  width: 20px;
  height: 20px;

  background-image: url('../img/inventory/close-button.png');
  background-color: transparent;
  border: 0;
  background-position: 0 0;

  &:hover {
    background-position: 0 -20px;
  }
}

#note-content {
  display: block;
  width: 100%;
  padding-top: 20%;
  padding-left: 18%;
  padding-right: 15%;
  padding-bottom: 10%;
  transform: rotate(-2deg);
}

.note-title {
  font-family: 'Absolute', sans-serif;
  font-size: 3.5vw;
  font-weight: bold;
  letter-spacing: 0.3rem;
  line-height: 2.5rem;
  color: $fourth;
}

.note-text {
  font-family: 'Absolute', sans-serif;
  font-size: 3.5vw;
  font-weight: normal;
  letter-spacing: 0.25vw;
  line-height: 2.5vw;
  width: 100%;
  transform: rotate(-2deg);
  color: $fourth;
}

#note-arrow-left {
  position: absolute;
  left: 18%;
  bottom: 10%;
  width: 50px;
  height: 28px;
  background-image: url('../img/inventory/arrow2-off.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  &:hover {
    background-image: url('../img/inventory/arrow2-on.png');
  }
}

#note-arrow-right {
  position: absolute;
  right: 18%;
  bottom: 10%;
  width: 50px;
  height: 28px;
  background-image: url('../img/inventory/arrow2-off.png');
  transform: rotate(180deg);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  &:hover {
    background-image: url('../img/inventory/arrow2-on.png');
  }
}

#book-container {
  position: fixed;
  width: 100vw;
  max-width: $base-width-px !important;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #004500ee;
  background-image: url('../img/inventory/inventory-read-bg.png');
  background-size: 200px 200px;
  background-repeat: repeat;
  background-blend-mode: overlay;
  z-index: 2;
}

#book-background {
  position: relative;
  height: 95%;
  aspect-ratio: 990 / 715;
  background-image: url('../img/inventory/book-bg.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.book-close-button {
  position: absolute;
  right: -20px;
  top: 2px;
  width: 20px;
  height: 20px;

  background-image: url('../img/inventory/close-button.png');
  background-color: transparent;
  border: 0;
  background-position: 0 0;

  &:hover {
    background-position: 0 -20px;
  }
}

#book-content-1 {
  position: absolute;
  left: -8px;
  top: 0;
  display: block;
  width: 50%;
  height: 88%;
  padding-top: 8%;
  padding-left: 8%;
  padding-right: 0;
  padding-bottom: 35%;
  margin-bottom: 35%;
  transform: rotate(1.6deg);
  overflow: hidden;
  //background-color: #00bfff77;
}

.book-title-1 {
  font-family: 'Absolute', sans-serif;
  font-size: 3.5vw;
  font-weight: bold;
  letter-spacing: 0.3rem;
  line-height: 2.5rem;
  color: $fourth;
}

.book-text-1 {
  font-family: 'Absolute', sans-serif;
  font-size: 3.5vw;
  font-weight: normal;
  letter-spacing: 0.2rem;
  line-height: 2.8rem;
  width: 100%;
  transform: rotate(-2deg);
  color: $fourth;
  // background-color: deepskyblue;
}

#book-content-2 {
  position: absolute;
  right: 12px;
  top: -8px;
  display: block;
  width: 50%;
  height: 88%;
  padding-top: 8%;
  padding-left: 3%;
  padding-right: 4%;
  padding-bottom: 35%;
  margin-bottom: 35%;
  transform: rotate(-1.6deg);
  overflow: hidden;
  // background-color: #00ff5577;
}

.book-title-2 {
  font-family: 'Absolute', sans-serif;
  font-size: 3.5vw;
  font-weight: bold;
  letter-spacing: 0.3rem;
  line-height: 2.5rem;
  color: $fourth;
  // background-color: deeppink;
}

.book-text-2 {
  font-family: 'Absolute', sans-serif;
  font-size: 3.5vw;
  font-weight: normal;
  letter-spacing: 0.2rem;
  line-height: 2.8rem;
  width: 100%;
  transform: rotate(-2deg);
  color: $fourth;
  // background-color: deepskyblue;
}

.book-title-2 {
  font-family: 'Absolute', sans-serif;
  font-size: 3.5vw;
  font-weight: bold;
  letter-spacing: 0.3rem;
  line-height: 2.5rem;
  color: $fourth;
}

.book-text-2 {
  font-family: 'Absolute', sans-serif;
  font-size: 3.5vw;
  font-weight: normal;
  letter-spacing: 0.2rem;
  line-height: 2.8rem;
  width: 100%;
  transform: rotate(-2deg);
  color: $fourth;
}


#book-arrow-left {
  position: absolute;
  left: 6.5%;
  bottom: 9%;
  width: 50px;
  height: 28px;
  background-image: url('../img/inventory/arrow2-off.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  &:hover {
    background-image: url('../img/inventory/arrow2-on.png');
  }
}

#book-arrow-right {
  position: absolute;
  right: 6.5%;
  bottom: 9%;
  width: 50px;
  height: 28px;
  background-image: url('../img/inventory/arrow2-off.png');
  transform: rotate(180deg);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  &:hover {
    background-image: url('../img/inventory/arrow2-on.png');
  }
}

//---
@keyframes in-rotate {
  from {
    transform: scale(0.005) rotate(0deg);
    opacity: 0;
  }
  to {
    transform: scale(1) rotate(720deg);
    opacity: 1;
  }
}

@keyframes out-rotate {
  from {
    transform: scale(1) rotate(720deg);
    opacity: 1;
  }
  to {
    transform: scale(0.005) rotate(0deg);
    opacity: 0;
  }
}

.anim-in {
  animation: in-rotate 0.5s forwards;
  -webkit-animation: in-rotate 0.5s forwards;
}

.anim-out {
  animation: out-rotate 0.5s forwards;
  -webkit-animation: out-rotate 0.5s forwards;
}

//---

#inventory-container {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    max-width: $base-width-px !important;
    height: 100vh;
    background-image: url('../img/inventory/inventory-bg.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    image-rendering: crisp-edges;

    background-color: #000;
}

  #inventory-logo {
    position: absolute;
    left: pxw(450);
    top: pxh(2);
    width: pxw(390);
    height: pxh(140);
    background-image: url('../img/inventory/inventory-logo.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    z-index: 1;
  }

  #inventory-3d-canvas {
    position: absolute;
    left: pxw(140);
    top: pxh(110);
    width: pxw(470);
    height: pxh(470);
    // border: 1px solid gray;
  }

  #object-text-container {
    font-family: 'Carlito', sans-serif;
    font-size: 1.2rem;
    line-height: 20px;

    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: start;
    
    left: pxw(140);
    top: pxh(575);
    width: pxw(500);
    height: pxh(55);

    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;

    color: $primary-dark;

    // overflow-y: hidden;
    // border: 1px solid red;
  }

  #inventory-item-text-container {
    position: absolute;
    left: pxw(610);
    top: pxh(170);
    width: pxw(445);
    height: pxh(300);
  }

  .item-text-container {
    font-family: 'Hand', sans-serif;
    font-size: 3.5rem;

    left: pxw(610);
    top: pxh(170);
    width: pxw(1525);
    height: pxh(110);
    white-space: 0 !important;
    margin: 0;
    padding: 0;
    padding-left: 60px;
    line-height: normal;
    letter-spacing: 0.6rem;
    color: $primary;

    // border: 1px solid red;

    /*
    background-color: deeppink;
    border: 1px solid red;
    */
  }

  #arrow-down {
    position: absolute;
    left: pxw(1095);
    top: pxh(445);
    width: pxw(45);
    height: pxh(45);
    background-image: url('../img/inventory/arrow-off.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    z-index: 1;
    &:hover {
      background-image: url('../img/inventory/arrow-on.png');
    }
  }

  #arrow-up {
    position: absolute;
    left: pxw(1095);
    top: pxh(170);
    width: pxw(45);
    height: pxh(45);

    background-image: url('../img/inventory/arrow-off.png');
    transform: rotate(180deg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    z-index: 1;
    &:hover {
      background-image: url('../img/inventory/arrow-on.png');
    }
  }

  #inventory-selected-item-container {
    font-family: 'Hand', sans-serif;
    font-size: 3rem;

    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    left: pxw(610);
    top: pxh(500);
    width: pxw(530);
    height: pxh(135);

    background-image: url('../img/inventory/line.png');
    background-size: 90%;
    background-position: top;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
  }

  .item-selected-text-container {
    font-size: 2.5rem;
    height: pxh(160);
    margin: 0;
    padding: 0;
    line-height: normal;
    letter-spacing: 0.2rem;
    color: $primary;
  }
