@font-face {
	font-family: 'Hand';
	src: url('./fonts/hand.ttf') format('truetype');
  font-display: block;
}

@font-face {
	font-family: 'Carlito';
	src: url('./fonts/carlito.ttf') format('truetype');
  font-display: block;
}

@font-face {
	font-family: 'Absolute';
	src: url('./fonts/absolute.ttf') format('truetype');
  font-display: block;
}

// Alap felbontás
$base-width: 1920;
$base-height: 1080;
$min-width: 1366px;
$min-height: 768px;
$base-width-px: 1920px;
$base-height-px: 1080px;

$scale: 1.5;

@function pxw($px) {
  @return ($px * $scale / $base-width) * 100%;
}

@function pxh($px) {
  @return ($px * $scale / $base-height) * 100%;
}

$primary: #8eb28e;
$primary-dark: #4c724c;
$secondary: #ea8708;
$third: #32ad0c;
$fourth: #274223;
$fifth: #aaa;
$brown-light: #a36209;
$brown-dark: #a0410d;
$yellow-gold: #ffdd00;
$yellow-light: #ffff00;

//--

#preload-images {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  background-image:
    url('../img/inventory/click-selector.png'),
    url('../img/inventory/mouse-selector.png'),
    url('../img/cursors/cursor-default.png'),
    url('../img/cursors/cursor-use-on.png'),
    url('../img/cursors/cursor-use-off.png'),
    url('../img/cursors/cursor-get-on.png'),
    url('../img/cursors/cursor-get-off.png'),
    url('../img/cursors/cursor-look2-on.png'),
    url('../img/cursors/cursor-look2-off.png'),
    url('../img/inventory/text-border.png'),
    url('../img/inventory/green-dark-bg.png'),
    url('../img/check-mark.png'),
    url('../img/error-mark.png'),
    url('../img/inventory/close-button.png'),
    url('../img/inventory/use-selector.png'),
    url('../img/inventory/look-selector.png'),
    url('../img/inventory/inventory-read-bg.png'),
    url('../img/inventory/note-bg.png'),
    url('../img/inventory/arrow2-off.png'),
    url('../img/inventory/arrow2-on.png'),
    url('../img/inventory/book-bg-red.png'),
    url('../img/inventory/book-bg-blue.png'),
    url('../img/inventory/inventory-bg.png'),
    url('../img/inventory/inventory-logo.png'),
    url('../img/inventory/arrow-off.png'),
    url('../img/inventory/arrow-on.png'),
    url('../img/inventory/line.png');
}

.d-block {
  display: block;
}

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-start {
  justify-content: start;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: start;
}

.align-items-end {
  align-items: end;
}

//--

.text-white {
  color: white !important;
}

.text-ok {
  color: white !important;
}
.text-green {
  color: green !important;
}

.text-error {
  color: red !important;
}

.text-red {
  color: #871313 !important;
}

.text-blue {
  color: #00495e !important;
}

.text-yellow-light {
  color: $yellow-light !important;
}

.text-yellow-gold {
  color: $yellow-gold !important;
}

.text-hover {
  color: $third !important;
}

.text-selected {
  // color: $secondary !important;

  color: gray !important;
}

.bg-test {
  background-color: $secondary !important;
}

.margin-left {
  border: 2px 2px 2px 2px solid gray;
}

.usn {
  user-select: none !important;
}

html, body {
  overflow: hidden;
  width: 100vw !important;
  height: 100vh !important;
  min-width: $min-width !important;
  min-height: $min-height !important;
  margin: 0 !important;
  padding: 0 !important;
  background: black !important;
  user-select: none;
}

#loading-container,
#menu-container,
#game-container,
#inventory-container,
#book-container,
#note-container,
.full-size,
#game-canvas,
#game-blood,
#text-box-container {
  width: 100vw !important;
  height: 100vh !important;
  min-width: $min-width !important;
  min-height: $min-height !important;
}

a, button, input, textarea {
  cursor: url('../img/cursors/cursor-default.png') 5 5, auto !important;
}

a:hover, button:hover, input:hover, textarea:hover {
    cursor: url('../img/cursors/cursor-default.png') 5 5, auto !important;
}

.cursor-pointer {
  &:hover{
      cursor: pointer;
  }
}

#cursor-text-box {
  position: fixed;
  pointer-events: none;
  background: $brown-light;
  color: white;
  border: 5px solid $brown-dark;
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 14px;
  transform: translate(10px, 10px);
  z-index: 10;
}

.cursor-default {
  cursor: url('../img/cursors/cursor-default.png') 5 5, auto !important;
}

.cursor-use-on {
  cursor: url('../img/cursors/cursor-use-on.png') 5 5, auto;
}

.cursor-use-off {
  cursor: url('../img/cursors/cursor-use-off.png') 5 5, auto;
}

.cursor-get-on {
  cursor: url('../img/cursors/cursor-get-on.png') 5 5, auto;
}

.cursor-get-off {
  cursor: url('../img/cursors/cursor-get-off.png') 5 5, auto;
}

.cursor-look-on {
  cursor: url('../img/cursors/cursor-look2-on.png') 5 5, auto !important;
}

.cursor-look-off {
  cursor: url('../img/cursors/cursor-look2-off.png') 5 5, auto !important;
}

#game-canvas {
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    z-index: 10;
}

#game-blood {
  pointer-events: none;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  z-index: 11;
  background-size: 100% 100%;
  background-image: url("/img/blood/blood3.png");
  opacity: 0;
}

#game-black-screen {
  display: none;
  position: fixed;
  inset: 0;
  background: #000;
  z-index: 9999;
  pointer-events: none;
}

#game-blood.play {
  animation: bloodPulse 1s;
  -webkit-animation: bloodPulse 1s;
}

#game-blood.die {
  opacity: 1 !important;
}

@keyframes bloodPulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.delta-time-menu,
.delta-time-inventory,
.delta-time-game {
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 100;
}

#loading-container,
#menu-container,
#game-container,
.full-size {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

.small-size {
  position: relative;
  width: 25vw !important;
  height: 25vh !important;
  background-color: black;
}

#loading-container {
  padding: 10px;
  overflow-y: auto;
  height: 100vh;
}

#console-container {
  position: relative !important;
}

#loading-console {
  width: 100%;
  max-height: 80vh;
  overflow-y: auto;
}

#console-reset {
  position: absolute;
  right: 3px;
  top: 3px;
  display: block;
  background-color: deepskyblue;
  font-size: 10px;
  padding: 2px 2px 2px 2px;
}

#console-button1 {
  position: absolute;
  right: 45px;
  top: 3px;
  display: block;
  background-color: rgb(62, 168, 20);
  font-size: 10px;
  padding: 2px 2px 2px 2px;
}

.bg-secondary {
  background-color: $secondary !important;
}

.w-100 {
  width: 100% !important;
}

.w-50 {
  width: 50% !important;
}

#text-box-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;

  pointer-events: auto;
}

  #text-box {
    position: relative;
    display: inline-block;
    padding: 7px;
    padding-left: 10px;
    border: 25px solid transparent;
    border-image-source: url('../img/inventory/text-border.png');
    border-image-slice: 25;
    border-image-repeat: stretch;
    max-width: 70%;
    margin-bottom: 17vh;
    color: $primary;
    background-image: url('../img/inventory/green-dark-bg.png');
    
    cursor: url('../img/cursors/cursor-default.png') 5 5, auto !important;

    z-index: 1000;
  }

  .text-box-centered {
    margin-bottom: 40vh !important;
  }

  .check-mark {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url('../img/check-mark.png');
    background-size: cover;
  }

  .error-mark {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url('../img/error-mark.png');
    background-size: cover;
  }

  #text-box-close-button {
    position: absolute;
    right: -21px;
    top: -21px;
    width: 20px;
    height: 20px;

    background-image: url('../img/inventory/close-button.png');
    background-color: transparent;
    border: 0;
    background-position: 0 0;

    &:hover {
      background-position: 0 -20px;
    }
  }

#energy-container {
  display: block;
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: 120px;
  height: 15px;
  border: solid 2px gray;
  background-color: red;
  z-index: 12;
  user-select: none;
}

.energy {
  width: 100%;
  height: 13px;
  background-color: green !important;
  transition: width 1s ease;
  user-select: none;
}

#oil-container {
  display: block;
  position: absolute;
  left: 20px;
  bottom: 60px;
  width: 120px;
  height: 15px;
  border: solid 2px gray;
  background-color: #111;
  z-index: 12;
  user-select: none;
}

.oil {
  width: 100%;
  height: 13px;
  background-color: #e4bb03 !important;
  transition: width 1s ease;
  user-select: none;
}


#inventory-selector {
  display: block;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 110px;
  aspect-ratio: 1 / 1;
  background-image: url('../img/inventory/inventory-selector.png');
  background-size: cover;
  z-index: 12;
  // background-color: deeppink;
  &:hover {
    transform: scale(1.05);
  }
  &:active {
    transform: scale(1.1);
  }
}

#use-selector {
  display: block;
  position: absolute;
  right: 160px;
  bottom: 20px;
  width: 120px;
  aspect-ratio: 1 / 1;
  background-image: url('../img/inventory/use-selector.png');
  background-size: cover;
  z-index: 12;
  // background-color: deeppink;
  &:hover {
    transform: scale(1.05);
  }
  &:active {
    transform: scale(1.1);
  }
}

#look-selector {
  display: block;
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 120px;
  aspect-ratio: 1 / 1;
  background-image: url('../img/inventory/look-selector.png');
  background-size: cover;
  // background-color: deepskyblue;
  z-index: 12;
  &:hover {
    transform: scale(1.05);
  }
  &:active {
    transform: scale(1.1);
  }
}

#mouseorkey-selector {
  display: block;
  position: absolute;
  right: 300px;
  bottom: 20px;
  width: 120px;
  aspect-ratio: 1 / 1;
  background-size: cover;
  z-index: 12;
  &:hover {
    transform: scale(1.05);
  }
  &:active {
    transform: scale(1.1);
  }
}

#weapon0-selector {
  display: block;
  position: absolute;
  right: 160px;
  top: 27px;
  width: 80px;
  aspect-ratio: 1 / 1;
  background-image: url('../img/inventory/weapon0-selector.png');
  background-size: cover;
  z-index: 12;
  // background-color: deeppink;
  &:hover {
    transform: scale(1.05);
  }
  &:active {
    transform: scale(1.1);
  }
}

#weapon1-selector {
  display: block;
  position: absolute;
  right: 260px;
  top: 27px;
  width: 80px;
  aspect-ratio: 1 / 1;
  background-image: url('../img/inventory/weapon1-selector.png');
  background-size: cover;
  z-index: 12;
  // background-color: deeppink;
  &:hover {
    transform: scale(1.05);
  }
  &:active {
    transform: scale(1.1);
  }
}

#weapon2-selector {
  display: block;
  position: absolute;
  right: 360px;
  top: 27px;
  width: 80px;
  aspect-ratio: 1 / 1;
  background-image: url('../img/inventory/weapon2-selector.png');
  background-size: cover;
  z-index: 12;
  // background-color: deeppink;
  &:hover {
    transform: scale(1.05);
  }
  &:active {
    transform: scale(1.1);
  }
}

#weapon3-selector {
  display: block;
  position: absolute;
  right: 460px;
  top: 27px;
  width: 80px;
  aspect-ratio: 1 / 1;
  background-image: url('../img/inventory/weapon3-selector.png');
  background-size: cover;
  z-index: 12;
  // background-color: deeppink;
  &:hover {
    transform: scale(1.05);
  }
  &:active {
    transform: scale(1.1);
  }
}

.click-selector-pic {
  background-image: url('../img/inventory/click-selector.png');
}

.mouse-selector-pic {
  background-image: url('../img/inventory/mouse-selector.png');
}

#note-container {
  position: fixed;
  width: 100vw;
  max-width: $base-width-px !important;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #004500ee;
  background-image: url('../img/inventory/inventory-read-bg.png');
  background-size: 200px 200px;
  background-repeat: repeat;
  background-blend-mode: overlay;
  z-index: 2;
}

#note-background {
  position: relative;
  top: 15px;
  min-width: 680px !important;
  width: 20%;
  aspect-ratio: 495 / 715;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}
.note-bg {
  background-image: url('../img/inventory/note-bg.png');
}

.letter-bg {
  background-image: url('../img/inventory/letter-bg.png') !important;
}

.photo-bg {
  background-image: none !important;
}

.note-close-button {
  position: absolute;
  right: -30px;
  top: 2px;
  width: 20px;
  height: 20px;

  background-image: url('../img/inventory/close-button.png');
  background-color: transparent;
  border: 0;
  background-position: 0 0;

  &:hover {
    background-position: 0 -20px;
  }
}

#book-arrow-left {
  position: absolute;
  left: 6.5%;
  bottom: 9%;
  width: 50px;
  height: 28px;
  background-image: url('../img/inventory/arrow2-off.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  &:hover {
    background-image: url('../img/inventory/arrow2-on.png');
  }
}

#book-arrow-right {
  position: absolute;
  right: 6.5%;
  bottom: 9%;
  width: 50px;
  height: 28px;
  background-image: url('../img/inventory/arrow2-off.png');
  transform: rotate(180deg);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  &:hover {
    background-image: url('../img/inventory/arrow2-on.png');
  }
}

//---
@keyframes in-rotate {
  from {
    transform: scale(0.005) rotate(0deg);
    opacity: 0;
  }
  to {
    transform: scale(1) rotate(720deg);
    opacity: 1;
  }
}

@keyframes out-rotate {
  from {
    transform: scale(1) rotate(720deg);
    opacity: 1;
  }
  to {
    transform: scale(0.005) rotate(0deg);
    opacity: 0;
  }
}

.anim-in {
  animation: in-rotate 0.5s forwards;
  -webkit-animation: in-rotate 0.5s forwards;
}

.anim-out {
  animation: out-rotate 0.5s forwards;
  -webkit-animation: out-rotate 0.5s forwards;
}

//---

#inventory-container {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    max-width: $base-width-px !important;
    height: 100vh;
    background-image: url('../img/inventory/inventory-bg.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    image-rendering: crisp-edges;

    background-color: #000;
}

#inventory-exit {
  position: absolute;
  right: pxw(50);
  top: pxh(50);
  z-index: 2;
}

#inventory-logo {
  position: absolute;
  left: pxw(450);
  top: pxh(2);
  width: pxw(390);
  height: pxh(140);
  background-image: url('../img/inventory/inventory-logo.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  z-index: 1;
}

#inventory-3d-canvas {
  position: absolute;
  left: pxw(140);
  top: pxh(110);
  width: pxw(470);
  height: pxh(470);
  // border: 1px solid gray;
}

#object-text-container {
  font-family: 'Carlito', sans-serif;
  font-size: 1.2rem;
  line-height: 20px;

  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: start;
  
  left: pxw(140);
  top: pxh(575);
  width: pxw(500);
  height: pxh(55);

  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;

  color: $primary-dark;

  // overflow-y: hidden;
  // border: 1px solid red;
}

#inventory-item-text-container {
  position: absolute;
  left: pxw(610);
  top: pxh(170);
  width: pxw(445);
  height: pxh(300);
}

.item-text-container {
  font-family: 'Hand', sans-serif;
  font-size: 3rem;

  left: pxw(610);
  top: pxh(170);
  width: pxw(1525);
  height: pxh(110);
  white-space: 0 !important;
  margin: 0;
  padding: 0;
  padding-left: 60px;
  line-height: normal;
  letter-spacing: 0.6rem;
  white-space: nowrap !important;
  color: $primary;
}

#arrow-down {
  position: absolute;
  left: pxw(1095);
  top: pxh(445);
  width: pxw(45);
  height: pxh(45);
  background-image: url('../img/inventory/arrow-off.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  z-index: 1;
  &:hover {
    background-image: url('../img/inventory/arrow-on.png');
  }
}

#arrow-up {
  position: absolute;
  left: pxw(1095);
  top: pxh(170);
  width: pxw(45);
  height: pxh(45);

  background-image: url('../img/inventory/arrow-off.png');
  transform: rotate(180deg);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  z-index: 1;
  &:hover {
    background-image: url('../img/inventory/arrow-on.png');
  }
}

#inventory-selected-item-container {
  font-family: 'Hand', sans-serif;
  font-size: 3rem;

  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;

  left: pxw(610);
  top: pxh(500);
  width: pxw(530);
  height: pxh(135);

  background-image: url('../img/inventory/line.png');
  background-size: 90%;
  background-position: top;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.item-selected-text-container {
  font-size: 2.5rem;
  height: pxh(160);
  margin: 0;
  padding: 0;
  line-height: normal;
  letter-spacing: 0.2rem;
  color: $primary;
}

// --- BOOK VARIABLES ---

$book-scale: 3.5;

$book-title-size: 1.1em * $book-scale;
$book-title-spacing: 0.02em * $book-scale;
$book-title-line-height: 0.8em;

$book-text-size: 0.9em * $book-scale;
$book-text-spacing: 0.03em * $book-scale;
$book-text-line-height: 0.9em;

//---

#book-container {
  position: fixed;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-width: $base-width-px !important;
  justify-content: center;
  align-items: center;
  background-image: url('../img/inventory/inventory-read-bg.png');
  background-size: 200px 200px;
  background-repeat: repeat;
  background-blend-mode: overlay;
  background-color: #004500ee;
  z-index: 2;
}

#book-background {
  position: relative;
  top: 15px;
  min-width: 1370px !important;
  width: 20%;
  max-width: 100vw;
  aspect-ratio: 990 / 715;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.book-bg-red {
  background-image: url('../img/inventory/book-bg-red.png');
}

.book-bg-blue {
  background-image: url('../img/inventory/book-bg-blue.png');
}

.book-bg-gold {
  background-image: url('../img/inventory/book-bg-gold.png');
}

.book-close-button {
  position: absolute;
  right: -20px;
  top: 0.1em;

  width: 20px;
  height: 20px;

  background-image: url('../img/inventory/close-button.png');
  background-color: transparent;
  border: 0;

  background-size: 20px (20px * 2);
  background-position: 0 0;

  &:hover {
    background-position: 0 -20px;
  }
}

.inventory-close-button {
  position: relative;

  width: 20px;
  height: 20px;

  background-image: url('../img/inventory/close-button.png');
  background-color: transparent;
  border: 0;

  background-size: 20px (20px * 2);
  background-position: 0 0;

  &:hover {
    background-position: 0 -20px;
  }
}

#book-content-1 {
  position: absolute;
  left: 4em;
  top: 2em;
  width: 44%;
  height: 84%;
  padding: 3.2em 1em 5em 3.2em;
  transform: rotate(1.6deg);
  overflow: hidden;
  // background-color: rgba(0, 191, 255, 0.218);
}

#book-content-2 {
  position: absolute;
  right: 4em;
  top: 2em;
  width: 44%;
  height: 84%;
  padding: 3.2em 2.2em 5em 1.4em;
  transform: rotate(-1.6deg);
  overflow: hidden;
  // background-color: rgba(0, 255, 187, 0.218);
}

.book-title-1,
.book-title-2 {
  font-family: 'Absolute', sans-serif;
  font-weight: bold;
  font-size: $book-title-size;
  letter-spacing: $book-title-spacing;
  line-height: $book-title-line-height;
  color: $fourth;
  position: absolute;
  top: 80px;
}

.book-text-1,
.book-text-2 {
  font-family: 'Absolute', sans-serif;
  font-weight: bold;
  font-size: $book-text-size;
  letter-spacing: $book-text-spacing;
  line-height: $book-text-line-height;
  transform: rotate(-2deg);
  color: $fourth;
}

#note-content {
  display: block;
  width: 100%;
  padding: 4em 5em 3em 7em;
  transform: rotate(-2deg);
}

.note-title {
  font-family: 'Absolute', sans-serif;

  font-size: $book-title-size;
  font-weight: bold;

  letter-spacing: $book-title-spacing;
  line-height: $book-title-line-height;

  color: $fourth;
}

.note-text {
  font-family: 'Absolute', sans-serif;

  font-size: $book-text-size;
  font-weight: bold;

  letter-spacing: $book-text-spacing;
  line-height: $book-text-line-height;

  transform: rotate(-2deg);

  color: $fourth;

  // background-color: deeppink !important;
}

#note-arrow-left {
  position: absolute;
  left: 18%;
  bottom: 10%;

  width: 50px;
  height: 28px;

  background-image: url('../img/inventory/arrow2-off.png');

  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;

  image-rendering: pixelated;
  image-rendering: crisp-edges;

  &:hover {
    background-image: url('../img/inventory/arrow2-on.png');
  }
}

#note-arrow-right {
  position: absolute;
  right: 18%;
  bottom: 10%;

  width: 50px;
  height: 28px;

  background-image: url('../img/inventory/arrow2-off.png');

  transform: rotate(180deg);

  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;

  image-rendering: pixelated;
  image-rendering: crisp-edges;

  &:hover {
    background-image: url('../img/inventory/arrow2-on.png');
  }
}

.crimson-treshold-logo {
  position: absolute;
  left: 145px;
  top: 200px;
  width: 320px;
  aspect-ratio: 1/1;
  background-size: cover;
  background-image: url('../img/inventory/crimson-treshold-logo.png');
}

.crimson-ilustration-1 {
  position: absolute;
  right: 50px;
  top: 240px;
  width: 125px;
  height: 450px;
  background-size: cover;
  background-image: url('../img/inventory/crimson-illustration-1.png');
}

.crimson-ilustration-2 {
  position: absolute;
  right: 10px;
  top: 25px;
  width: 256px;
  aspect-ratio: 1/1;
  background-size: cover;
  background-image: url('../img/inventory/crimson-illustration-2.png');
}

.crimson-ilustration-3 {
  position: absolute;
  right: 20px;
  top: 185px;
  width: 143px;
  height: 470px;
  background-size: cover;
  transform: rotate(1deg);
  background-image: url('../img/inventory/crimson-illustration-3.png');
}

.crimson-ilustration-4 {
  position: absolute;
  right: 20px;
  top: 190px;
  width: 256px;
  height: 490px;
  background-size: cover;
  transform: rotate(-7deg);
  opacity: 0.9;
  background-image: url('../img/inventory/crimson-illustration-4.png');
}

.book-img-ghost {
  position: absolute;
  right: 25px;
  bottom: 45px;
  width: 222px;
  height: 357px;
  aspect-ratio: 1/1;
  background-size: cover;
  background-image: url('../img/inventory/book-img-ghost.png');
  opacity: 0.9;
}

.book-img-spider {
  position: absolute;
  right: 45px;
  top: 160px;
  width: 250px;
  //height: 512px;
  aspect-ratio: 458 / 512;
  background-size: cover;
  transform: rotate(30deg);
  opacity: 0.9;
  background-image: url('../img/inventory/book-img-spider.png');
}

.book-img-bg1 {
  position: absolute;
  right: -10px;
  top: 120px;
  width: 350px;
  aspect-ratio: 1 / 1;
  background-size: cover;
  transform: rotate(30deg);
  opacity: 0.5;
  background-image: url('../img/inventory/book-img-bg1.png');
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
}

.book-img-bet {
  position: absolute;
  right: 45px;
  top: 85px;
  width: 512px;
  height: 300px;
  background-size: cover;
  transform: rotate(0deg);
  opacity: 0.9;
  background-image: url('../img/inventory/book-img-bet.png');
}

.book-img-bg2 {
  position: absolute;
  right: 200px;
  top: 150px;
  width: 250px;
  aspect-ratio: 1 / 1;
  background-size: cover;
  transform: rotate(30deg);
  opacity: 0.5;
  background-image: url('../img/inventory/book-img-bg1.png');
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
}

.book-img-bet2 {
  position: absolute;
  right: 55px;
  top: 325px;
  width: 240px;
  aspect-ratio: 512/394;
  background-size: cover;
  transform: rotate(0deg);
  opacity: 0.9;
  background-image: url('../img/inventory/book-img-bet2.png');
}

.book-img-bg3 {
  position: absolute;
  right: 40px;
  top: 320px;
  width: 200px;
  aspect-ratio: 1 / 1;
  background-size: cover;
  transform: rotate(30deg);
  opacity: 0.5;
  background-image: url('../img/inventory/book-img-bg1.png');
}

.book-img-pentagram {
  position: absolute;
  right: 170px;
  top: 405px;
  width: 300px;
  height: 300px;
  background-size: cover;
  transform: rotate(0deg);
  opacity: 0.9;
  background-image: url('../img/inventory/book-img-pentagram.png');
}

.book-img-bg4 {
  position: absolute;
  right: 40px;
  top: 400px;
  width: 310px;
  aspect-ratio: 1 / 1;
  background-size: cover;
  transform: rotate(90deg);
  opacity: 0.5;
  background-image: url('../img/inventory/book-img-bg1.png');
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.book-img-bg5 {
  position: absolute;
  right: 280px;
  top: 400px;
  width: 310px;
  aspect-ratio: 1 / 1;
  background-size: cover;
  transform: rotate(90deg);
  opacity: 0.5;
  background-image: url('../img/inventory/book-img-bg1.png');
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.book-img-witchclaw {
  position: absolute;
  right: 200px;
  top: 120px;
  aspect-ratio: 266 / 300;
  width: 240px;
  background-size: cover;
  transform: rotate(28deg);
  opacity: 0.9;
  background-image: url('../img/inventory/book-img-witchclaw.png');
  -webkit-transform: rotate(28deg);
  -moz-transform: rotate(28deg);
  -ms-transform: rotate(28deg);
  -o-transform: rotate(28deg);
}

.book-img-frogbile {
  position: absolute;
  right: 220px;
  top: 155px;
  aspect-ratio: 199 / 300;
  width: 160px;
  background-size: cover;
  transform: rotate(0deg);
  opacity: 0.9;
  background-image: url('../img/inventory/book-img-frogbile.png');
}

.book-img-horseeye {
  position: absolute;
  right: 210px;
  top: 150px;

  aspect-ratio: 263 / 300;
  width: 240px;

  background-size: cover;
  transform: rotate(0deg);
  opacity: 0.9;
  background-image: url('../img/inventory/book-img-horseeye.png');
}

.book-img-swamp {
  position: absolute;
  right: 140px;
  top: 180px;
  aspect-ratio: 300 / 200;
  width: 290px;
  background-size: cover;
  transform: rotate(0deg);
  opacity: 0.9;
  background-image: url('../img/inventory/book-img-swamp.png');
}

.book-img-cattail {
  position: absolute;
  right: 190px;
  top: 280px;
  aspect-ratio: 300 / 224;
  width: 220px;
  background-size: cover;
  transform: rotate(0deg);
  opacity: 0.9;
  background-image: url('../img/inventory/book-img-cattail.png');
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}

.book-img-cauldron {
  position: absolute;
  right: 90px;
  top: 250px;
  width: 400px;
  aspect-ratio: 512 / 468;
  background-size: cover;
  transform: rotate(0deg);
  opacity: 0.9;
  background-image: url('../img/inventory/book-img-cauldron.png');
}

.book-img-magic {
  position: absolute;
  right: 20px;
  top: 320px;
  width: 200px;
  aspect-ratio: 300 / 250;
  background-size: cover;
  transform: rotate(20deg);
  opacity: 1;
  background-image: url('../img/inventory/book-img-magic.png');
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -o-transform: rotate(20deg);
}

.book-img-devil {
  position: absolute;
  right: 20px;
  top: 170px;
  aspect-ratio: 1 / 1;
  width: 560px;
  background-size: cover;
  transform: rotate(15deg);
  opacity: 1;
  background-image: url('../img/inventory/book-img-devil.png');
}

.book-img-blood1 {
    position: absolute;
    right: 13px;
    bottom: 20px;
    width: 396px;
    aspect-ratio: 396 / 512;
    background-size: cover;
    transform: rotate(1.8deg);
    opacity: 1;
    background-image: url('../img/inventory/book-img-blood1.png');
}

.book-img-blood2 {
  position: absolute;
  left: 11px;
  bottom: 20px;
  width: 396px;
  aspect-ratio: 396 / 512;
  background-size: cover;
  transform: rotate(-1.5deg);
  opacity: 0.9;
  background-image: url('../img/inventory/book-img-blood2.png');
  z-index: -1;
  -webkit-transform: rotate(-1.5deg);
  -moz-transform: rotate(-1.5deg);
  -ms-transform: rotate(-1.5deg);
  -o-transform: rotate(-1.5deg);
}