@charset "UTF-8";
li:hover {
  cursor: pointer;
  font-weight: bold;
}

.responsive-menu {
  position: relative;
  font-size: 12px;
  padding: 0;
}
.responsive-menu ul {
  margin: 0;
  padding: 0;
  list-style-position: inside;
  list-style-type: none;
}
.responsive-menu li {
  margin: 0;
  padding: 0;
  text-indent: 5px;
}
.responsive-menu ul ul {
  margin: 0;
  padding: 0;
  list-style-position: inside;
  list-style-type: none;
}
.responsive-menu ul ul ul {
  margin: 0;
  padding: 0;
  margin-left: 5px;
  list-style-position: inside;
  list-style-type: none;
}
.responsive-menu ul ul ul ul {
  margin: 0;
  padding: 0;
  margin-left: 5px;
  list-style-position: inside;
  list-style-type: none;
}

.mesh-name {
  padding: 0;
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
}

.menu-icon-pos-1,
.menu-icon-pos-2,
.menu-icon-pos-3,
.menu-icon-pos-4,
.menu-icon-pos-5,
.menu-icon-pos-6,
.menu-icon-pos-7 {
  position: absolute;
}
.menu-icon-pos-1:hover,
.menu-icon-pos-2:hover,
.menu-icon-pos-3:hover,
.menu-icon-pos-4:hover,
.menu-icon-pos-5:hover,
.menu-icon-pos-6:hover,
.menu-icon-pos-7:hover {
  cursor: pointer;
}

.menu-icon-pos-1 {
  right: 5px;
}

.menu-icon-pos-2 {
  right: 25px;
}

.menu-icon-pos-3 {
  right: 45px;
}

.menu-icon-pos-4 {
  right: 65px;
}

.menu-icon-pos-5 {
  right: 85px;
}

.menu-icon-pos-6 {
  right: 105px;
}

.menu-icon-pos-7 {
  right: 125px;
}

.list-triangle-selected {
  color: green !important;
  border: 1px solid gray;
  background-color: #b1b1b1 !important;
}

.triangle-up {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 3px;
  color: black;
  font-size: 15px;
  line-height: 10px;
  text-align: center;
}
.triangle-up::before {
  content: "▲";
}
.triangle-up:hover {
  color: yellow !important;
}

.triangle-down {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 3px;
  color: black;
  font-size: 15px;
  line-height: 10px;
  text-align: center;
}
.triangle-down::before {
  content: "▼";
}
.triangle-down:hover {
  color: yellow !important;
}

.delete {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 3px;
  color: black;
  font-size: 12px;
  line-height: 10px;
  text-align: center;
}
.delete::before {
  content: "✖";
}
.delete:hover {
  color: red !important;
}

.plus {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 3px;
  color: black;
  font-size: 12px;
  line-height: 10px;
  text-align: center;
}
.plus::before {
  content: "✙";
}
.plus:hover {
  color: yellow !important;
}

.up {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 3px;
  color: black;
  font-size: 12px;
  line-height: 10px;
  text-align: center;
}
.up::before {
  content: "⭡";
}
.up:hover {
  color: yellow !important;
}

.down {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 3px;
  color: black;
  font-size: 12px;
  line-height: 10px;
  text-align: center;
}
.down::before {
  content: "⭣";
}
.down:hover {
  color: yellow !important;
}

.back {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 3px;
  color: black;
  font-size: 12px;
  line-height: 10px;
  text-align: center;
}
.back::before {
  content: "⭠";
}
.back:hover {
  color: yellow !important;
}

.back-blend-in {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 3px;
  color: black;
  font-size: 12px;
  line-height: 10px;
  text-align: center;
}
.back-blend-in::before {
  content: "⇦";
}
.back-blend-in:hover {
  color: yellow !important;
}

.square {
  width: 12px;
  height: 12px;
  background-color: black;
  display: inline-block;
  margin: 3px;
}
.square:hover {
  background-color: yellow !important;
  color: yellow !important;
}

.circle {
  width: 12px;
  height: 12px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  margin: 3px;
}
.circle:hover {
  background-color: yellow !important;
  color: yellow !important;
}

.list-mesh-selected {
  color: white !important;
  background-color: darkolivegreen !important;
}/*# sourceMappingURL=menu.css.map */