$iconbg: yellow;

li {
    &:hover {
        cursor: pointer;
        font-weight: bold;
    }
}

.responsive-menu {
    position: relative;
    font-size: 12px;
    padding: 0;
    
    & ul {
        margin: 0;
        padding: 0;
        list-style-position: inside;
        list-style-type: none;
        // list-style-type: disc;
    }
    
    & li {
        margin: 0;
        padding: 0;
        text-indent: 5px;

    }
    
    & ul ul {
        margin: 0;
        padding: 0;
        list-style-position: inside;
        list-style-type: none;
        // list-style-type: square;
    }
    
    & ul ul ul {
        margin: 0;
        padding: 0;
        margin-left: 5px;
        list-style-position: inside;
        list-style-type: none;
        // list-style-type: circle;
    }

    & ul ul ul ul {
        margin: 0;
        padding: 0;
        margin-left: 5px;
        list-style-position: inside;
        list-style-type: none;
        // list-style-type: circle;
    }
}

.mesh-name {
    padding: 0;
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
}

.menu-icon-pos-1,
.menu-icon-pos-2,
.menu-icon-pos-3 {
    position: absolute;
    &:hover {
        cursor: pointer;
    }
}

.menu-icon-pos-1 {
    right: 5px;
}

.menu-icon-pos-2 {
    right: 20px;
}

.menu-icon-pos-3 {
    right: 10px;
}

.list-triangle-selected {
    color: green !important;
    border: 1px solid gray;
    background-color: #b1b1b1 !important;
}

//--- icons
.triangle-up {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 8px solid black;
    display: inline-block;
    margin: 3px;
    &:hover {
        border-color: $iconbg !important;
        color: $iconbg !important;
    }
}

.triangle-down {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid black;
    display: inline-block;
    margin: 3px;
    &:hover {
        border-color: $iconbg !important;
        color: $iconbg !important;
    }
}

.square {
    width: 12px;
    height: 12px;
    background-color: black;
    display: inline-block;
    margin: 3px;
    &:hover {
        background-color: $iconbg !important;
        color: $iconbg !important;
    }
}

.circle {
    width: 12px;
    height: 12px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    margin: 3px;
    &:hover {
        background-color: $iconbg !important;
        color: $iconbg !important;
    }
}

// +

.plus {
    position: relative;
    width: 12px;
    height: 12px;
    display: inline-block;

    &:hover {
        background-color: $iconbg !important;
        color: $iconbg !important;
    }
}

.plus::before, .plus::after {
    content: '';
    position: absolute;
    background-color: black;
}

.plus::before {
    width: 12px;
    height: 2px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.plus::after {
    width: 2px;
    height: 12px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}    

.list-mesh-selected {
    color: white !important;
    background-color: darkolivegreen !important;
}