$iconbg: yellow;

li {
    &:hover {
        cursor: pointer;
        font-weight: bold;
    }
}

.responsive-menu {
    position: relative;
    font-size: 12px;
    padding: 0;
    
    & ul {
        margin: 0;
        padding: 0;
        list-style-position: inside;
        list-style-type: none;
        // list-style-type: disc;
    }
    
    & li {
        margin: 0;
        padding: 0;
        text-indent: 5px;

    }
    
    & ul ul {
        margin: 0;
        padding: 0;
        list-style-position: inside;
        list-style-type: none;
        // list-style-type: square;
    }
    
    & ul ul ul {
        margin: 0;
        padding: 0;
        margin-left: 5px;
        list-style-position: inside;
        list-style-type: none;
        // list-style-type: circle;
    }

    & ul ul ul ul {
        margin: 0;
        padding: 0;
        margin-left: 5px;
        list-style-position: inside;
        list-style-type: none;
        // list-style-type: circle;
    }
}

.mesh-name {
    padding: 0;
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
}

.menu-icon-pos-1,
.menu-icon-pos-2,
.menu-icon-pos-3,
.menu-icon-pos-4,
.menu-icon-pos-5,
.menu-icon-pos-6,
.menu-icon-pos-7 {
    position: absolute;
    &:hover {
        cursor: pointer;
    }
}

.menu-icon-pos-1 {
    right: 5px;
}

.menu-icon-pos-2 {
    right: 25px;
}

.menu-icon-pos-3 {
    right: 45px;
}

.menu-icon-pos-4 {
    right: 65px;
}

.menu-icon-pos-5 {
    right: 85px;
}

.menu-icon-pos-6 {
    right: 105px;
}

.menu-icon-pos-7 {
    right: 125px;
}


.list-triangle-selected {
    color: green !important;
    border: 1px solid gray;
    background-color: #b1b1b1 !important;
}

//--- icons
.triangle-up {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 3px;
    color: black;
    font-size: 15px;
    line-height: 10px;
    text-align: center;

    &::before {
        content: '▲';
    }

    &:hover {
        color: yellow !important;
    }
}

.triangle-down {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 3px;
    color: black;
    font-size: 15px;
    line-height: 10px;
    text-align: center;

    &::before {
        content: '▼';
    }

    &:hover {
        color: yellow !important;
    }
}

.delete {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 3px;
    color: black;
    font-size: 12px;
    line-height: 10px;
    text-align: center;

    &::before {
        content: '✖';
    }

    &:hover {
        color: red !important;
    }
}

.plus {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 3px;
    color: black;
    font-size: 12px;
    line-height: 10px;
    text-align: center;

    &::before {
        content: '✙';
    }

    &:hover {
        color: yellow !important;
    }
}

.up {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 3px;
    color: black;
    font-size: 12px;
    line-height: 10px;
    text-align: center;

    &::before {
        content: '⭡';
    }

    &:hover {
        color: yellow !important;
    }
}

.down {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 3px;
    color: black;
    font-size: 12px;
    line-height: 10px;
    text-align: center;

    &::before {
        content: '⭣';
    }

    &:hover {
        color: yellow !important;
    }
}

.back {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 3px;
    color: black;
    font-size: 12px;
    line-height: 10px;
    text-align: center;

    &::before {
        content: '⭠';
    }

    &:hover {
        color: yellow !important;
    }
}

.back-blend-in {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 3px;
    color: black;
    font-size: 12px;
    line-height: 10px;
    text-align: center;

    &::before {
        content: '⇦';
    }

    &:hover {
        color: yellow !important;
    }
}

.square {
    width: 12px;
    height: 12px;
    background-color: black;
    display: inline-block;
    margin: 3px;
    &:hover {
        background-color: $iconbg !important;
        color: $iconbg !important;
    }
}

.circle {
    width: 12px;
    height: 12px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    margin: 3px;
    &:hover {
        background-color: $iconbg !important;
        color: $iconbg !important;
    }
}

// +
 
.list-mesh-selected {
    color: white !important;
    background-color: darkolivegreen !important;
}