@charset "UTF-8";
.view-screen {
  width: 50% !important;
  height: 50% !important;
  background-color: purple !important;
}

body {
  background-color: #000000 !important;
  overflow-x: hidden;
  overflow-y: hidden;
  box-sizing: border-box;
  height: 100%;
}

#root {
  position: relative;
  display: block;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #000000 !important;
  box-sizing: border-box;
}

.d-block {
  display: block !important;
}

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-flex {
  display: flex !important;
}

.text-start {
  text-align: left !important;
}

.text-end {
  text-align: right !important;
}

.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

input[type=number] {
  width: 50px;
  border-radius: 7px 7px 7px 7px;
  border: 0;
  padding-left: 5px;
}

select[data-type=short] {
  width: 57px;
  border-radius: 7px 7px 7px 7px;
  border: 0;
  padding-left: 1px;
}

.cursor-pointer:hover {
  cursor: pointer;
  font-weight: bold;
}

button[class=view-buttons],
button[class=dots-buttons],
button[class=grid-buttons],
button[class="3d-buttons"] {
  border-radius: 7px 7px 7px 7px;
  border: 0;
}

.btn-login {
  border-radius: 7px 7px 7px 7px !important;
  border: 0;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#menu-top {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  height: 15%;
  margin: 0;
  padding: 6px;
  background-color: #b7d8b7;
  box-sizing: border-box;
}

#axis-container {
  padding: 0;
  margin: 0;
  width: 80%;
  height: 100%;
  font-size: 0;
}

#toolbar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  width: 19.5%;
  height: 100%;
  padding: 0;
  margin: 0;
  padding: 5px;
  border: 1px solid gray;
  box-sizing: border-box;
}

.menu-icons-between-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-icons-center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toolbar-icon {
  width: 34px;
  height: 34px;
  margin: 3px;
  border-radius: 4px;
  background-size: cover;
}
.toolbar-icon:hover {
  cursor: pointer;
}

.move {
  background-image: url("../img/icons/move.svg");
}

.new-triangle {
  background-image: url("../img/icons/triangle.svg");
}

.point {
  background-image: url("../img/icons/point.svg");
}

.toolbar-select {
  background-color: white;
  border: 1px solid black;
}

.menu-text-border {
  border: 1px solid gray;
  padding: 3px;
}
.menu-text-border:hover {
  box-shadow: -2px 1px black;
  background-color: #c2c2c2;
  cursor: pointer;
}

.top-screen-options {
  display: inline-block;
  height: 100%;
  font-size: 0;
  margin: 0px;
  padding: 5px;
  border: 1px solid gray;
  box-sizing: border-box;
}

.top-screen-options {
  width: 25%;
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
}

.right-screen-options {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 100%;
  font-size: 0;
  margin: 0px;
  padding: 5px;
  box-sizing: border-box;
}

.left-side {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  width: 50%;
  letter-spacing: 1px;
  font-size: 12px;
  line-height: 22px;
  box-sizing: border-box;
}

.right-side {
  display: inline-block;
  vertical-align: top;
  text-align: right;
  width: 50%;
  letter-spacing: 1px;
  font-size: 14px;
  line-height: 22px;
  padding-left: 5px;
  box-sizing: border-box;
}

.side-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#content-center-container {
  display: flex;
  justify-content: center;
  align-items: start;
}

#menu-right {
  height: 85vh !important;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  display: inline-block;
  width: 20%;
  min-height: 15%;
  margin: 0;
  padding: 0;
  background-color: #d2d2d2;
  box-sizing: border-box;
  background-color: #b7d8b7;
}

.title-box {
  width: calc(100% - 10px);
  height: 28px;
  text-align: center;
  font-weight: bold;
  -webkit-text-decoration: double;
          text-decoration: double;
  border: 1px solid gray;
  box-sizing: border-box;
  padding: 3px;
  margin: 5px;
  margin-top: 0;
}

.title-button:hover {
  cursor: pointer;
  color: #0c0c2b;
}

.text-small {
  font-size: 0.7rem;
}

.title-box-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 10px);
  height: 28px;
  font-weight: bold;
  -webkit-text-decoration: double;
          text-decoration: double;
  border: 1px solid gray;
  box-sizing: border-box;
  padding: 3px;
  margin: 5px;
  margin-top: 0;
}

.input-name {
  height: 14px;
  display: inline-block;
  width: 60%;
  text-align: left;
}

.box-1 {
  width: calc(100% - 10px);
  text-align: left;
  border: 1px solid gray;
  box-sizing: border-box;
  padding: 3px;
  margin: 5px;
  margin-top: 0;
}

#info-box {
  width: calc(100% - 10px);
  text-align: center;
  border: 1px solid gray;
  box-sizing: border-box;
  padding: 3px;
  margin: 5px;
  margin-top: 0;
  background-color: white;
}

.box-1 li {
  padding: 0;
  margin: 0;
}

.reset-center-button:hover {
  cursor: pointer;
  color: red;
}

#object-list {
  position: relative;
  flex: 1;
  min-height: 50px;
  overflow: auto;
  scroll-behavior: smooth;
}

#object-list-size-button {
  top: -20px;
  height: 5px;
  width: 100%;
  background-color: green !important;
}
#object-list-size-button:hover {
  cursor: row-resize;
}

#object-add-tri {
  position: relative;
  display: block;
}

#container-screens {
  display: grid; /* Grid layout */
  grid-template-columns: repeat(2, 1fr); /* Két oszlop */
  grid-template-rows: repeat(2, 1fr); /* Két sor */
  justify-content: center;
  align-items: center;
  width: 80%;
  min-height: 85%;
  margin: 0;
  padding: 0;
  background-color: rgb(157, 231, 255);
  box-sizing: border-box;
}

.view-segment {
  width: 100%; /* Teljes szélesség a cellában */
  height: 100%; /* Teljes magasság a cellában */
  border: 1px solid gray;
  box-sizing: border-box !important;
}

.p-0 {
  padding: 0;
}

.pt-1 {
  padding-top: 3px;
}

.m-0 {
  margin: 0;
}

.mt-1 {
  margin-top: 3px !important;
}

.mt-2 {
  margin-top: 6px !important;
}

.mt-3 {
  margin-top: 8px !important;
}

.mt-4 {
  margin-top: 10px !important;
}

.red {
  background-color: red;
}

.green {
  background-color: #325332;
}

.green2 {
  background-color: #67b467;
}

.blue {
  background-color: #0c0c2b;
}

.dark {
  background-color: #121212;
}

.text-white {
  color: white !important;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: start;
}

.align-items-end {
  align-items: end;
}

.w-100 {
  width: 100% !important;
}

.w-70 {
  width: 70% !important;
}

.w-50 {
  width: 50% !important;
}

.w-30 {
  width: 30% !important;
}

.w-25 {
  width: 25% !important;
}

.w-20 {
  width: 20% !important;
}

.w-15 {
  width: 15% !important;
}

.w-10 {
  width: 10% !important;
}

.w-5 {
  width: 5% !important;
}

.pe-5 {
  padding-right: 5px !important;
}

.pe-10 {
  padding-right: 10px !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.me-5 {
  margin-right: 5px !important;
}

.me-10 {
  margin-right: 10px !important;
}

.text-start {
  text-align: left;
}

.text-center {
  text-align: center !important;
}

.text-end {
  text-align: right;
}

.text-uppercase {
  text-transform: uppercase;
}

.child-style {
  background-color: skyblue !important;
  border-radius: 5px 5px 5px 5px;
}

.grid-container {
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 30px 30px 30px;
  grid-template-rows: 30px 30px 30px;
  gap: 2px;
}

.grid-container-rotate {
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 50%;
  grid-template-rows: 2;
  gap: 2px;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid #333;
  background-color: #f0f0f0;
}

.arrow {
  font-family: Arial, sans-serif;
}

.grid-item.arrow:hover {
  cursor: pointer;
  background-color: #999999;
}

.tri-move-up, .tri-move-down, .tri-all-move {
  margin-left: 8px;
  margin-right: 8px;
}
.tri-move-up:hover, .tri-move-down:hover, .tri-all-move:hover {
  cursor: pointer;
  font-weight: bold;
}

.cursor-move {
  cursor: move;
}

.cursor-crosshair {
  cursor: crosshair;
}

.tri-list, .list-mesh-selected {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.menu-back-isset {
  background-color: lime !important;
  cursor: pointer;
}

.menu-back-empty {
  color: gray !important;
  background-color: #cecece;
  cursor: default !important;
}

.combined {
  position: relative;
  display: inline-block;
  font-size: 40px;
}

.combined span {
  position: absolute;
  left: 0;
  top: 0;
}

.no-list-style {
  list-style-type: none;
}

.underline {
  text-decoration: underline !important;
}

#clipboard-container {
  position: relative;
  height: auto !important;
}

#clipboard-content {
  font-size: 12px;
  text-align: left;
}

#clipboard-button {
  position: absolute;
  right: 3px;
  bottom: 3px;
}

.hover-pointer:hover {
  cursor: pointer;
}

#modal-bg {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8666666667);
  z-index: 10;
  width: 100vw;
  height: 100vh;
}

.center-box {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 30%;
  border: 2px double gray;
  padding: 10px;
  margin: 10px;
  background-color: #b7d8b7;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

#modal-title {
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 3px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-transform: uppercase;
  border: 2px double gray;
  background-color: #b7d8b7;
  height: 10%;
  z-index: 20;
}

#modal-close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 29px;
  height: 29px;
  background-color: #578871;
  right: 10px;
  top: 10px;
  border-radius: 50% 50% 50% 50%;
}
#modal-close:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: red !important;
}

.commander-container {
  width: 100%;
  height: 80%;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-auto-rows: auto;
  overflow-y: auto;
}

.list-elemet {
  display: inline-block;
  width: 100%;
  height: 20px;
  box-sizing: border-box;
  padding-left: 10px;
}
.list-elemet:hover {
  border: 1px solid gray;
}

.list-selected-file {
  font-weight: bold !important;
  background-color: rgba(87, 136, 113, 0.4666666667);
  border: 1px solid gray;
}

.modal-button-ok {
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 0;
  border-radius: 10px 10px 10px 10px;
}/*# sourceMappingURL=style.css.map */