@charset "UTF-8";
.view-screen {
  width: 50% !important;
  height: 50% !important;
  background-color: purple !important;
}

body {
  background-color: #000000 !important;
  overflow-x: hidden;
  overflow-y: hidden;
  box-sizing: border-box;
  height: 100%;
}

@media (max-width: 999px) {
  body {
    display: none;
  }
  body::before {
    content: "This editor is only available on display screens. Min width 1000 px!";
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: white;
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
  }
}
#root {
  position: relative;
  display: block;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #000000 !important;
  box-sizing: border-box;
}

#screen-canvas {
  image-rendering: pixelated !important;
}

.d-block {
  display: block !important;
}

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-flex {
  display: flex !important;
}

.text-start {
  text-align: left !important;
}

.text-end {
  text-align: right !important;
}

.text-success {
  color: green !important;
}

.text-danger {
  color: red !important;
}

.text-warning {
  color: goldenrod !important;
}

.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

.py-1 {
  padding-top: 2px;
  padding-bottom: 2px;
}

.py-2 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.py-3 {
  padding-top: 7px;
  padding-bottom: 7px;
}

.py-4 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-5 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.my-1 {
  margin-top: 2px;
  margin-bottom: 2px;
}

.my-2 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.my-3 {
  margin-top: 7px;
  margin-bottom: 7px;
}

.my-4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.my-5 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.mb-1 {
  margin-bottom: 2px;
}

.mb-2 {
  margin-bottom: 5px;
}

.mb-3 {
  margin-bottom: 7px;
}

.mb-4 {
  margin-bottom: 10px;
}

.mb-5 {
  margin-bottom: 15px;
}

.ms-1 {
  margin-left: 2px;
}

.ms-2 {
  margin-left: 5px;
}

.ms-3 {
  margin-left: 7px;
}

.ms-4 {
  margin-left: 10px;
}

.ms-5 {
  margin-left: 15px;
}

.me-1 {
  margin-right: 2px;
}

.me-2 {
  margin-right: 5px;
}

.me-3 {
  margin-right: 7px;
}

.me-4 {
  margin-right: 10px;
}

.me-5 {
  margin-right: 15px;
}

input[type=number] {
  width: 50px;
  border-radius: 7px 7px 7px 7px;
  border: 0;
  padding-left: 5px;
  -webkit-border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -ms-border-radius: 7px 7px 7px 7px;
  -o-border-radius: 7px 7px 7px 7px;
}

input[type=text] {
  border-radius: 7px 7px 7px 7px;
  border: 0;
  padding-left: 5px;
  -webkit-border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -ms-border-radius: 7px 7px 7px 7px;
  -o-border-radius: 7px 7px 7px 7px;
}

input[type=text][name=filename] {
  width: 100%;
  height: 23px;
  border-radius: 7px 7px 7px 7px;
  border: 0;
  padding-left: 5px;
}

select[data-type=short] {
  width: 57px;
  border-radius: 7px 7px 7px 7px;
  border: 0;
  padding-left: 1px;
}

.cursor-pointer:hover {
  cursor: pointer;
  font-weight: bold;
}

button[class=view-buttons],
button[class=dots-buttons],
button[class=grid-buttons],
button[class="3d-buttons"] {
  border-radius: 7px 7px 7px 7px;
  border: 0;
}

.btn-login {
  border-radius: 7px 7px 7px 7px !important;
  border: 0;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#menu-top {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  height: 15%;
  margin: 0;
  padding: 6px;
  background-color: #b7d8b7;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

#axis-container {
  padding: 0;
  margin: 0;
  width: 80%;
  height: 100%;
  font-size: 0;
}

#toolbar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  width: 19.5%;
  height: 100%;
  padding: 0;
  margin: 0;
  padding: 5px;
  border: 1px solid gray;
  box-sizing: border-box;
}

.menu-icons-between-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-icons-center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toolbar-icon {
  width: 34px;
  height: 34px;
  margin: 3px;
  border-radius: 4px;
  background-size: cover;
}
.toolbar-icon:hover {
  cursor: pointer;
}

.move {
  background-image: url("../img/icons/move.svg");
}

.point {
  background-image: url("../img/icons/triangle-point.svg");
}

.origo {
  background-image: url("../img/icons/origo.svg");
}

.toolbar-select {
  background-color: white;
  border: 1px solid black;
}

.menu-text-border {
  border: 1px solid gray;
  padding: 3px;
}
.menu-text-border:hover {
  box-shadow: -2px 1px black;
  background-color: #c2c2c2;
  cursor: pointer;
}

.top-screen-options {
  display: inline-block;
  height: 100%;
  font-size: 0;
  margin: 0px;
  padding: 5px;
  border: 1px solid gray;
  box-sizing: border-box;
}

.top-screen-options {
  width: 25%;
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
}

.h-100-flex {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 90%;
  min-height: 90px;
}

.right-screen-options {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 100%;
  font-size: 0;
  margin: 0px;
  padding: 5px;
  box-sizing: border-box !important;
}

.left-side {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  width: 50%;
  letter-spacing: 1px;
  font-size: 12px;
  line-height: 22px;
  box-sizing: border-box;
}

.right-side {
  display: inline-block;
  vertical-align: top;
  text-align: right;
  width: 50%;
  letter-spacing: 1px;
  font-size: 14px;
  line-height: 22px;
  padding-left: 5px;
  box-sizing: border-box;
}

.side-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#content-center-container {
  display: flex;
  justify-content: center;
  align-items: start;
}

#menu-right {
  height: 85vh !important;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  display: inline-block;
  width: 20%;
  min-height: 15%;
  margin: 0;
  padding: 0;
  background-color: #d2d2d2;
  box-sizing: border-box;
  background-color: #b7d8b7;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.title-box {
  width: calc(100% - 10px);
  height: 28px;
  text-align: center;
  font-weight: bold;
  -webkit-text-decoration: double;
          text-decoration: double;
  border: 1px solid gray;
  box-sizing: border-box;
  padding: 3px;
  margin: 5px;
  margin-top: 0;
}

.title-button:hover {
  cursor: pointer;
  color: #0c0c2b;
}

.text-small {
  font-size: 0.7rem;
}

.title-box-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 10px);
  height: 28px;
  font-weight: bold;
  -webkit-text-decoration: double;
          text-decoration: double;
  border: 1px solid gray;
  box-sizing: border-box;
  padding: 3px;
  margin: 5px;
  margin-top: 0;
}

.input-name {
  height: 14px;
  display: inline-block;
  width: 60%;
  text-align: left;
}

.box-1 {
  width: calc(100% - 10px);
  text-align: left;
  border: 1px solid gray;
  box-sizing: border-box;
  margin: 5px;
  margin-top: 0;
}

#info-box {
  width: calc(100% - 10px);
  text-align: center;
  border: 1px solid gray;
  box-sizing: border-box;
  padding: 3px;
  margin: 5px;
  margin-top: 0;
  background-color: white;
}

.box-1 li {
  padding: 0;
  margin: 0;
}

.reset-center-button:hover {
  cursor: pointer;
  color: red;
}

#object-list {
  position: relative;
  flex: 1;
  min-height: 50px;
  overflow: auto;
  scroll-behavior: smooth;
}

#object-list-size-button {
  top: -20px;
  height: 5px;
  width: 100%;
  background-color: green !important;
}
#object-list-size-button:hover {
  cursor: row-resize;
}

#object-add-tri {
  position: relative;
  display: block;
}

#container-screens {
  display: grid; /* Grid layout */
  grid-template-columns: repeat(2, 1fr); /* Két oszlop */
  grid-template-rows: repeat(2, 1fr); /* Két sor */
  justify-content: center;
  align-items: center;
  width: 80%;
  min-height: 85%;
  margin: 0;
  padding: 0;
  background-color: rgb(157, 231, 255);
  box-sizing: border-box;
}

.view-segment {
  width: 100%; /* Teljes szélesség a cellában */
  height: 100%; /* Teljes magasság a cellában */
  border: 1px solid gray;
  box-sizing: border-box !important;
}

.p-0 {
  padding: 0;
}

.pt-1 {
  padding-top: 3px;
}

.m-0 {
  margin: 0;
}

.mt-1 {
  margin-top: 3px !important;
}

.mt-2 {
  margin-top: 6px !important;
}

.mt-3 {
  margin-top: 8px !important;
}

.mt-4 {
  margin-top: 10px !important;
}

.red {
  background-color: red;
}

.green {
  background-color: #325332;
}

.green2 {
  background-color: #67b467;
}

.blue {
  background-color: #0c0c2b;
}

.dark {
  background-color: #121212;
}

.text-white {
  color: white !important;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: start;
}

.align-items-end {
  align-items: end;
}

.max-w-50 {
  max-width: 50% !important;
}

.w-100 {
  width: 100% !important;
}

.w-70 {
  width: 70% !important;
}

.w-50 {
  width: 50% !important;
}

.w-30 {
  width: 30% !important;
}

.w-25 {
  width: 25% !important;
}

.w-20 {
  width: 20% !important;
}

.w-15 {
  width: 15% !important;
}

.w-10 {
  width: 10% !important;
}

.w-5 {
  width: 5% !important;
}

.h-100 {
  height: 100% !important;
}

.pe-5 {
  padding-right: 5px !important;
}

.pe-10 {
  padding-right: 10px !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.me-5 {
  margin-right: 5px !important;
}

.me-10 {
  margin-right: 10px !important;
}

.text-start {
  text-align: left;
}

.text-center {
  text-align: center !important;
}

.text-end {
  text-align: right;
}

.text-uppercase {
  text-transform: uppercase;
}

.fw-bold {
  font-weight: bold;
}

.child-style {
  background-color: skyblue !important;
  border-radius: 5px 5px 5px 5px;
}

.grid-container {
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 30px 30px 30px;
  grid-template-rows: 30px 30px 30px;
  gap: 2px;
}

.grid-container-rotate {
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 50%;
  grid-template-rows: 2;
  gap: 2px;
}

.grid-container-mirror {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid #333;
  background-color: #f0f0f0;
}

.arrow {
  font-family: Arial, sans-serif;
}

.grid-item.arrow:hover {
  cursor: pointer;
  background-color: #999999;
}

.tri-move-up, .tri-move-down, .tri-all-move {
  margin-left: 8px;
  margin-right: 8px;
}
.tri-move-up:hover, .tri-move-down:hover, .tri-all-move:hover {
  cursor: pointer;
  font-weight: bold;
}

.cursor-move {
  cursor: move;
}

.cursor-crosshair {
  cursor: crosshair;
}

.tri-list, .list-mesh-selected {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.menu-back-isset {
  background-color: lime !important;
  cursor: pointer;
}

.menu-back-empty {
  color: gray !important;
  background-color: #cecece;
  cursor: default !important;
}

.combined {
  position: relative;
  display: inline-block;
  font-size: 40px;
}

.combined span {
  position: absolute;
  left: 0;
  top: 0;
}

.no-list-style {
  list-style-type: none;
}

.underline {
  text-decoration: underline !important;
}

#clipboard-container {
  position: relative;
  height: auto !important;
}

#clipboard-content {
  font-size: 12px;
  text-align: left;
}

#clipboard-button {
  position: absolute;
  right: 3px;
  bottom: 3px;
}

.hover-pointer:hover {
  cursor: pointer;
}

#modal-bg {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8666666667);
  z-index: 10;
  width: 100vw;
  height: 100vh;
}

.center-box {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 40%;
  min-height: 30%;
  border: 2px double gray;
  padding: 10px;
  margin: 10px;
  background-color: #b7d8b7;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

#modal-title {
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 3px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-transform: uppercase;
  border: 2px double gray;
  background-color: #b7d8b7;
  height: 10%;
  z-index: 20;
}

#modal-close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 29px;
  height: 29px;
  background-color: #578871;
  right: 10px;
  top: 10px;
  border-radius: 50% 50% 50% 50%;
}
#modal-close:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: red !important;
}

#modal-back {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 29px;
  height: 29px;
  background-color: #578871;
  left: 10px;
  top: 10px;
}
#modal-back:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: blue !important;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.commander-container {
  width: 100%;
  height: 80%;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-auto-rows: minmax(25px, auto);
  overflow-y: auto;
  align-items: center;
}

.max-250px {
  max-width: 250px !important;
}

.list-elemet {
  display: inline-block;
  width: 100%;
  max-height: 20px;
  align-self: start;
  box-sizing: border-box;
  padding-left: 10px;
}
.list-elemet:hover {
  border: 1px solid gray;
}

.list-selected-file {
  font-weight: bold !important;
  background-color: rgba(87, 136, 113, 0.4666666667);
  border: 1px solid gray;
}

.modal-action-button {
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 0;
  border-radius: 10px 10px 10px 10px;
}
.modal-action-button:hover {
  cursor: pointer;
}

.modal-delete-button {
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 0;
  background-color: #ffa8a8;
  border-radius: 10px 10px 10px 10px;
}
.modal-delete-button:hover {
  cursor: pointer;
}

.bg-pink {
  background-color: deeppink !important;
}

#modal-message {
  margin-bottom: 15px;
}

#modal-content {
  max-height: 80vh;
}

#modal-content .list-element {
  padding: 10px 10px 10px 10px;
  height: auto !important;
}

.pic-pix {
  image-rendering: pixelated !important;
}

.pic-name-div {
  display: block;
  text-align: center;
  height: 20px;
  padding-top: 5px;
}

.texturepic-left-icon,
.texturepic-right-icon,
.texturepic-del-icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
}

.texturepic-left-icon {
  left: 0;
  margin-left: 5px;
  bottom: 38px;
  border-radius: 4px 4px 4px 4px;
  background-color: #008000;
  border: 2px solid white;
}
.texturepic-left-icon:hover {
  font-weight: bold;
  color: red;
}

.texturepic-right-icon {
  right: 0;
  margin-right: 5px;
  bottom: 38px;
  border-radius: 4px 4px 4px 4px;
  background-color: #008000;
  border: 2px solid white;
}
.texturepic-right-icon:hover {
  font-weight: bold;
  color: red;
}

.texturepic-del-icon {
  top: 0;
  right: 0;
  color: white;
  background-color: red;
  padding: 2px;
  border-radius: 50% 50% 50% 50%;
}
.texturepic-del-icon:hover {
  font-weight: bold;
  color: pink;
}

li:hover {
  cursor: pointer;
  font-weight: bold;
}

.responsive-menu {
  position: relative;
  font-size: 12px;
  padding: 0;
}
.responsive-menu ul {
  margin: 0;
  padding: 0;
  list-style-position: inside;
  list-style-type: none;
}
.responsive-menu li {
  margin: 0;
  padding: 0;
  text-indent: 5px;
}
.responsive-menu ul ul {
  margin: 0;
  padding: 0;
  list-style-position: inside;
  list-style-type: none;
}
.responsive-menu ul ul ul {
  margin: 0;
  padding: 0;
  margin-left: 5px;
  list-style-position: inside;
  list-style-type: none;
}
.responsive-menu ul ul ul ul {
  margin: 0;
  padding: 0;
  margin-left: 5px;
  list-style-position: inside;
  list-style-type: none;
}

.mesh-name {
  padding: 0;
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
}

.menu-icon-pos-1,
.menu-icon-pos-2,
.menu-icon-pos-3,
.menu-icon-pos-4,
.menu-icon-pos-5,
.menu-icon-pos-6,
.menu-icon-pos-7,
.menu-icon-pos-8,
.menu-icon-pos-l1 {
  position: absolute;
}
.menu-icon-pos-1:hover,
.menu-icon-pos-2:hover,
.menu-icon-pos-3:hover,
.menu-icon-pos-4:hover,
.menu-icon-pos-5:hover,
.menu-icon-pos-6:hover,
.menu-icon-pos-7:hover,
.menu-icon-pos-8:hover,
.menu-icon-pos-l1:hover {
  cursor: pointer;
}

.menu-icon-pos-1 {
  right: 5px;
}

.menu-icon-pos-2 {
  right: 21px;
}

.menu-icon-pos-3 {
  right: 30px;
}

.menu-icon-pos-4 {
  right: 40px;
}

.menu-icon-pos-5 {
  right: 53px;
}

.menu-icon-pos-6 {
  right: 68px;
}

.menu-icon-pos-7 {
  right: 83px;
}

.menu-icon-pos-8 {
  right: 98px;
}

.menu-icon-pos-l1 {
  left: 88px;
}

.list-triangle-selected {
  color: green !important;
  border: 1px solid gray;
  background-color: #b1b1b1 !important;
}

.list-triangle-locket {
  color: darkblue !important;
  border: 1px deeppink;
  background-color: #2acf33 !important;
}

.triangle-up {
  display: inline-block;
  width: 15px;
  height: 15px;
  color: black;
  font-size: 15px;
  line-height: 10px;
  text-align: center;
}
.triangle-up::before {
  content: "▲";
}
.triangle-up:hover {
  color: yellow !important;
}

.triangle-down {
  display: inline-block;
  width: 15px;
  height: 15px;
  color: black;
  font-size: 15px;
  line-height: 10px;
  text-align: center;
}
.triangle-down::before {
  content: "▼";
}
.triangle-down:hover {
  color: yellow !important;
}

.eye-up {
  display: inline-block;
  width: 15px;
  height: 15px;
  color: black;
  font-size: 15px;
  line-height: 10px;
  text-align: center;
}
.eye-up::before {
  content: "◉";
}
.eye-up:hover {
  color: yellow !important;
}

.eye-down {
  display: inline-block;
  width: 15px;
  height: 15px;
  color: black;
  font-size: 15px;
  line-height: 10px;
  text-align: center;
  padding-left: 3px;
}
.eye-down::before {
  content: "=";
}
.eye-down:hover {
  color: yellow !important;
}

.delete, .delete-group {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 3px;
  color: black;
  font-size: 12px;
  line-height: 10px;
  text-align: center;
}
.delete::before, .delete-group::before {
  content: "✖";
}
.delete:hover, .delete-group:hover {
  color: red !important;
}

.delete-locket {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 3px;
  color: black;
  font-size: 12px;
  line-height: 10px;
  text-align: center;
}
.delete-locket::before {
  content: "▬";
}
.delete-locket:hover {
  color: orange !important;
}

.plus {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 3px;
  color: black;
  font-size: 12px;
  line-height: 10px;
  text-align: center;
}
.plus::before {
  content: "✙";
}
.plus:hover {
  color: yellow !important;
}

.duplicate {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 3px;
  color: black;
  font-size: 12px;
  line-height: 10px;
  text-align: center;
}
.duplicate::before {
  content: "⧉";
}
.duplicate:hover {
  color: yellow !important;
}

.up {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 3px;
  color: black;
  font-size: 12px;
  line-height: 10px;
  text-align: center;
}
.up::before {
  content: "⭡";
}
.up:hover {
  color: yellow !important;
}

.down {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 3px;
  color: black;
  font-size: 12px;
  line-height: 10px;
  text-align: center;
}
.down::before {
  content: "⭣";
}
.down:hover {
  color: yellow !important;
}

.back {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 3px;
  color: black;
  font-size: 12px;
  line-height: 10px;
  text-align: center;
}
.back::before {
  content: "⭠";
}
.back:hover {
  color: yellow !important;
}

.back-blend-in {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 3px;
  color: black;
  font-size: 12px;
  line-height: 10px;
  text-align: center;
}
.back-blend-in::before {
  content: "⇦";
}
.back-blend-in:hover {
  color: yellow !important;
}

.clipboard {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 3px;
  color: black;
  font-size: 12px;
  line-height: 10px;
  text-align: center;
}
.clipboard::before {
  content: "🗎";
}
.clipboard:hover {
  color: yellow !important;
}

.square {
  width: 12px;
  height: 12px;
  background-color: black;
  display: inline-block;
  margin: 3px;
}
.square:hover {
  background-color: yellow !important;
  color: yellow !important;
}

.circle {
  width: 12px;
  height: 12px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  margin: 3px;
}
.circle:hover {
  background-color: yellow !important;
  color: yellow !important;
}

.list-mesh-selected {
  color: white !important;
  background-color: darkolivegreen !important;
}

.d-inline-block {
  display: inline-block;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.number-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 1px;
  width: 100%;
  height: 20px;
  margin-top: 5px;
}

.size-number-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 0.7rem;
  color: black;
}
.size-number-box:hover {
  background-color: rgba(128, 128, 128, 0.4156862745);
}

#textures-container {
  position: relative;
  display: block;
  min-height: 400px;
  font-size: 12px;
  padding: 0;
  margin: 0;
  max-width: 100%;
}
#textures-container ul {
  list-style: none !important;
  list-style-type: none !important;
  padding-left: 1em;
  margin: 0;
}
#textures-container ul li {
  margin: 4px 0;
}
#textures-container ul li:hover {
  font-weight: normal;
}
#textures-container ul:hover {
  font-weight: normal;
}

#textures-list {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.texture-minipic {
  width: 100%;
}

.anim-style {
  border: 1px solid blue;
}

.tree {
  margin: 0 !important;
  padding: 0 !important;
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.tree ul {
  list-style-type: none;
}

.tree li {
  margin: 0px;
}

.tree .toggle {
  cursor: pointer;
  display: inline-block;
  width: 1em;
  transform: rotate(0deg);
  transition: transform 0.2s;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.tree .nested {
  display: none;
}

.tree .open > .toggle {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.tree .open > .nested {
  display: block;
}

.leaf {
  display: inline-block;
  width: 30%;
  padding: 2px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.texture-parent-name {
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  text-align: left;
  border: 1px solid gray;
  box-sizing: border-box;
  padding: 3px;
  padding-left: 10px;
  margin: 0px !important;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: white;
}

.text-mini {
  font-size: 11px;
}

.selected-texture-23 {
  display: inline-block;
  width: 30%;
  padding: 2px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#selected-texture-container {
  position: relative;
  display: block;
  margin: 5px !important;
  box-sizing: border-box !important;
}/*# sourceMappingURL=style.css.map */